/* globals.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Define custom properties for color schemes */
:root {
  --color-text-primary: #000; /* Black for light mode text */
  --color-bg-primary: #f3f5f8; /* White for light mode background */
  --color-link: #000; /* Black for light mode links */
  --color-link-hover: #555; /* Dark gray for hover state in light mode */
}

.dark {
  --color-text-primary: #fff; /* White for dark mode text */
  --color-bg-primary: #333; /* Dark gray for dark mode background */
  --color-link: #bbb; /* Light gray for dark mode links */
  --color-link-hover: #ddd; /* Lighter gray for hover state in dark mode */
}

body {
  color: var(--color-text-primary);
  background-color: var(--color-bg-primary);
}

a {
  color: var(--color-link);
  transition: color 0.3s ease; /* Smooth transition for link color change */
}

a:hover {
  color: var(--color-link-hover);
}

.wrapper {
  @apply container px-4 mx-auto;
}

.subtitle {
  @apply uppercase tracking-[3px] text-[12.5px] mb-5 inline-block text-gray-500;
}

.transition {
  @apply duration-300 transition-all ease-in-out;
}
/* 
.pagination {
  @apply mx-auto flex flex-wrap items-center justify-between md:space-x-2;
}

.pagination .disabled a {
  @apply opacity-30 !cursor-default !bg-gray-300 !text-gray-500 hover:shadow-none;
}

.pagination li a {
  @apply rounded-full h-10 w-10 inline-flex items-center justify-center text-[11.5px] font-bold uppercase tracking-[2px] text-white bg-blue-600 py-4 px-5 transition hover:bg-white hover:text-blue-600 hover:shadow-2xl;
}

.pagination li.active a {
  @apply bg-white shadow-2xl text-blue-600;
}

.pagination li:first-child {
  @apply !mr-2 md:!mr-5;
}
.pagination li:last-child {
  @apply !ml-2 md:!ml-5;
}

.pagination li:first-child a,
.pagination li:last-child a {
  @apply w-auto px-3 md:px-5 rounded-none;
} */

.prose h1,
h2,
h3,
h4 {
  @apply font-medium text-slate-900;
}

.linkUnderlineHover {
  position: relative;
  display: inline-block;
  cursor: pointer;
}

.linkUnderlineHover::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: -2px;
  left: 0;
  background-color: currentColor;
  visibility: hidden;
  transform: scaleX(0);
  transition: all 0.3s ease-in-out;
}

.linkUnderlineHover:hover::before {
  visibility: visible;
  transform: scaleX(1);
}

.lang-select {
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  background: transparent;
  background-image: none;
}
